@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('./login.css');


* {
    font-family: 'Kanit', sans-serif;

}

#navbar {
    background-color: #FFDC34;
}

.logo-mobile {
    max-width: 50px;
}

.logo-desktop {
    max-width: 200px;
}


/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
    /* height: 100vh; */
    overflow-y: hidden;
}

#app {
    /* height: 100vh; */
    /* background-color: red; */
}

#container > div {
    /* height: 100vh; */
    /* border: #FFDC34 solid 1px; */
}

#content {
    height: 100vh;
    overflow-y: auto;
}

.carousel-item {
    /* width: 500px; */
    height: 250px;
}
.ads-1, .ads-2, .ads-3 {
    /* width: 100%;
    height: 100%; */

}

.ads-content {
    /* background-color: #FFDC34; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#service-list {
    height: 300px;
    width: 100%;
    /* border: 1px red solid; */
}

.box {
    height: 150px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro {
    height: 100dvh;
    background-color: #FFE4C4;
}